.platform {
	width: 900px;
	min-height: 0px;
	height: 100px;
	margin-top: 200px;
}

.platform .card-body {
	padding: 0px;
}

.platformInfo {
	width: 31%;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.platformInfo.icon {
 width: 120px;
 margin-right: 100px;
}

.fa-facebook-square {
	color: #45619D;
}

.fa-twitter-square {
	color: #1DA1F2;
}

.platformCounts {
	font-size: 28px;
	font-weight: bold;
	margin: 0px;
}