.userMenu {
	width: 350px;
	text-align: center;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	display: inline-block;
	font-family: 'Raleway';
}

#profileImage {
	width: 200px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
}

.menuTabs {
	border-top: 1px solid lightgrey;
	padding: 10px;
}

.menuTabs:hover {
	background-color: #ECEFF1;
}

i {
	color: lightgrey;
}

.clicked {
	background-color: #ECEFF1;
}
.profileHeading {
	margin: 20px 0px 30px 0px;
}