.authFail {
	display: block;
	width: 50%;
	height: 50px;
	background-color: #F8D7DA;
	text-align: center;
	padding: 8px;
	position: absolute;
	top: 80px;
	margin-left: auto;
	margin-right: auto;
	z-index: 100px;
}

.authSuccess {
	display: block;
	width: 50%;
	height: 50px;
	background-color: #D4EDDA;
	text-align: center;
	padding: 8px;
	position: absolute;
	top: 80px;
	margin-left: auto;
	margin-right: auto;
	z-index: 100px;
}