.followedAccount {
	width: 900px;
	min-height: 0px;
	height: 100px;
	margin-top: 200px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.followedAccount .card-body {
	padding: 0px;
}

.accountInfo {
	width: 31%;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	
}

.postCounts, .accountName {
	font-size: 28px;
	font-weight: bold;
	margin: 0px;
}
